* {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    background-color: darkgray;
    box-shadow: inset 1px 1px white;
    text-align: center;
}

.clicked {
    background-color: lightgray;
}

.marked {
    background-color: lime;
}

.bomb {
    color: red;
}

.gameover {
    position: absolute;
    top: 15vh;
}

.gameover p {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

.perdu {
    font-size: 2em;
    color: red;
}

.gagne {
    width: 100%;
    font-size: 2em;
    color: green;
}